<div class="jumbotron">
    <h1>Stone Wallet</h1>
    <p class="lead">Credit card manager</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Description</h2>
        <p>This is a web api service to manage a user's credit cards through a single wallet.</p>
    </div>
</div>
